
#div_msg{color: #FF0000;}
.jconfirm-box-container .content{min-height: 70px !important;}
.custom-upload {
    background-color: #367FA9;
    border: 1px solid #367FA9;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    padding: 4px 10px;
}
.custom-upload input {
    left: -9999px; 
    position: absolute;
}
.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}

